/**
 *
 * Hi,我是杜大叔，一个前端菜鸟。
 *
 * 我的工作是开发网站。
 *
 * 不如看看一些演示吧。
 */


/**
 * 让我们开始吧，先来一点酷炫的动画吧。。。 
 */

* {
    -webkit-transition: all 1s;
}


/**
 * 没有什么效果是不是？
 * 别着急，我们继续往下看
 */

html {
    background: #ffff00;
}


/**
 * 是不是太晃眼了？
 * 让我们再来调整一下
 */

html {
    background: #CCFFFF;
    color:#000;
}


/**
 * 不如去太空看看？
 */

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

html{
    color:#fff;
}

.stars {
  background:#000 url('../img/stars.png') repeat top center;
  z-index:0;
}

/**
 * 星星怎么不会闪烁呢？
 * 这不科学啊
 * 让我们再来调整一下看看
 */

.twinkling{
  background:transparent url('../img/twinkling.png') repeat top center;
  z-index:1;
  -webkit-animation:move-twink-back 200s linear infinite;
}

/**
 * 美丽的夜空
 * 闪烁的星星
 * 这可都是CSS3动画实现的效果哦
 * 是不是很惊艳
 * 让我们继续
 */

body {
    overflow: hidden;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


pre,
a {
    z-index:3;
}


/**
 * 让我们来调整一下编辑框的样式
 */

pre:not(empyt) {
    overflow: auto;
    max-height: 44.6%;
    width: 49%;
    font-size: 14px;
    font-family: monospace;
    padding: 10px 10px 20px;
    box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
    outline: 0;
}

/**
 * 让我们挪一挪位置
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * 来给我们的代码上点色
 */

.comment       { color: #09F2F5; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }


body {
  -webkit-perspective: 1000px;
}

#work-text,#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * 下面来介绍下我自己
 * 如果有兴趣合作请与我联系
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
