
/**
 * 左边的markdown没有被正确解析
 * 还是以源码的形式显现
 * 我们做一下调整
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 好了调整好了
 * 
 * 3...
 * 2...
 * 1...
 *
 * .
 * ....还没好？
 * 
 * 哈哈继续看
 */
